@import "../../global.scss";

.button-wraper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 40px;
}

.add-note-button {
  background-color: $darkblue;
  color: $lavander;
  width: 200px;
  border-radius: 10px;
  height: 50px;
  box-shadow: $box-shadow;
  font-weight: bold;
  font-size: $font-size-normal;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}
