@import "../../global.scss";

.note-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;

  &:nth-child(odd) {
    background-color: $white;
  }
  &:nth-child(even) {
    background-color: $lavander;
  }
  &.stats {
    justify-content: space-around;
  }

  h2,
  p {
    width: 200px;
    line-height: 50px;
    font-size: $font-size-normal;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    cursor: default;

    i {
      vertical-align: middle;
      width: 40px;
      height: 40px;

      display: inline-block;
      margin-right: 5px;
    }
    .tasks {
      background: url(../../assets/images/task_black_24dp.svg) no-repeat;
      background-size: contain;
    }
    .lightbulb {
      background: url(../../assets/images/lightbulb_black_24dp.svg) no-repeat;
      background-size: contain;
    }
    .comment {
      background: url(../../assets/images/chat_black_24dp.svg) no-repeat;
      background-size: contain;
    }

    &:first-child {
      width: 250px;
    }
    &:nth-child(2) {
      width: 150px;
    }
  }
}
